<ion-header>
  <ion-toolbar>
    <ion-title>
      <span *ngIf='!tareaProp; else elseBlock'>Nueva tarea</span>
      <ng-template #elseBlock><span>Modificar tarea</span></ng-template>
    </ion-title>
    <ion-buttons slot="end" (click)='cerrar()'>
      <ion-icon name="close-circle-outline" size='large'></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]='formulario' (ngSubmit)='enviar(formulario.value)'>
    <ion-item>
      <ion-input formControlName='descripcion' type='text' placeholder='Descripción'></ion-input>
    </ion-item>
    <ion-item>
      <ion-checkbox formControlName='importante'></ion-checkbox>
      <ion-label> Importante </ion-label>
    </ion-item>
    <div class="divboton">
      <ion-button color='primary' type='submit' [disabled]='!formulario.valid'>
        <span *ngIf='!tareaProp; else elseBlock2'>Añadir tarea</span>
        <ng-template #elseBlock2><span>Modificar</span></ng-template>
      </ion-button>
    </div>

  </form>

</ion-content>