ion-input {border: 1px solid gray; border-radius: 4px; margin-left: 3%; margin-right: 3%; width: 94%; margin-top: 20px; padding:0 4px !important;}
ion-label {padding-left: 5px;}
ion-item {--border-style: none; --highlight-color-invalid: none; --highlight-color-valid: none}
.divboton {text-align: center;}
