<ion-header>
  <ion-toolbar>
    <ion-title>
      Lista de Tareas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item-sliding *ngFor='let tarea of servicio.tareas'>
      <div *ngIf="!tarea.realizada">
        <ion-item>
          <ion-label>
            <span *ngIf="tarea.importante; else elseBlock" [innerHTML]="tarea.descripcion | negrita"></span>
            <ng-template #elseBlock>{{tarea.descripcion}}</ng-template>
          </ion-label>
          <ion-checkbox slot="start" (click)='tareaRealizada(tarea)'></ion-checkbox>
        </ion-item>
        <ion-item-options side="end">
          <ion-item-option (click)="modificarTarea(tarea)">
            <ion-icon name="document-text"></ion-icon>
            Modificar
          </ion-item-option>
          <ion-item-option color='danger' (click)="borrarTarea(tarea)">
            <ion-icon name="close-circle"></ion-icon>
            Eliminar
          </ion-item-option>
        </ion-item-options>
      </div>
    </ion-item-sliding>
  </ion-list>

  <ion-text *ngIf="buscarTareasRealizadas()">
    <h2>Tareas finalizadas</h2>
  </ion-text>

  <ion-list>
    <ion-item-sliding *ngFor='let tarea of servicio.tareas'>
      <div *ngIf="tarea.realizada">
        <ion-item>
          <ion-label class="tachado">
            <span *ngIf="tarea.importante; else elseBlock" [innerHTML]="tarea.descripcion | negrita"></span>
            <ng-template #elseBlock>{{tarea.descripcion}}</ng-template>
          </ion-label>
          <ion-checkbox checked="true" slot="start" (click)='tareaSinRealizar(tarea)'>
          </ion-checkbox>
        </ion-item>
        <ion-item-options side="end">
          <ion-item-option (click)="modificarTarea(tarea)">
            <ion-icon name="document-text"></ion-icon>
            Modificar
          </ion-item-option>
          <ion-item-option color='danger' (click)="borrarTarea(tarea)">
            <ion-icon name="close-circle"></ion-icon>
            Eliminar
          </ion-item-option>
        </ion-item-options>
      </div>
    </ion-item-sliding>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)='nuevaTarea()'>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>