<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Lista de Tareas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- List of Input Items -->
  <ion-list>

    <ion-item-sliding>
      <ion-item>
        <ion-label>Checkbox</ion-label>
        <ion-checkbox slot="start"></ion-checkbox>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option (click)="modificar(item)">
          <ion-icon name="document-text"></ion-icon>
          Modificar
        </ion-item-option>
        <ion-item-option color='danger' (click)="eliminar(item)">
          <ion-icon name="close-circle"></ion-icon>
          Eliminar
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>


  </ion-list>

  <ion-text color="secondary">
    <h2>Tareas finalizadas</h2>
  </ion-text>


  <ion-list>
    <ion-item-sliding *ngFor='let item of listaTareas'>
      <ion-item>
        <ion-label>{{item.descripcion}}</ion-label>
        <ion-checkbox slot="start"></ion-checkbox>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option (click)="modificar(item)">
          <ion-icon name="document-text"></ion-icon>
          Modificar
        </ion-item-option>
        <ion-item-option color='danger' (click)="eliminar(item)">
          <ion-icon name="close-circle"></ion-icon>
          Eliminar
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>

  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>