<ion-header>
  <ion-toolbar>
    <ion-title>
      Lista de Tareas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item-sliding *ngFor='let tarea of servicio.tareas | ordenar'>
      <ion-item>
        <ion-label>
          <span [ngStyle]="{'font-weight': tarea.importante ? 'bold' : 'normal'}">
            {{tarea.descripcion}}
          </span>
        </ion-label>
        <ion-checkbox slot="start" (click)='tareaRealizada(tarea)'></ion-checkbox>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option (click)="modificarTarea(tarea)">
          <ion-icon name="document-text"></ion-icon>
          Modificar
        </ion-item-option>
        <ion-item-option color='danger' (click)="borrarTarea(tarea)">
          <ion-icon name="close-circle"></ion-icon>
          Eliminar
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <ion-text *ngIf="buscarTareasRealizadas()">
    <h2>Tareas finalizadas</h2>
  </ion-text>

  <ion-list>
    <ion-item-sliding *ngFor='let tarea of servicio.tareas | ordenarRealizadas'>
      <ion-item>
        <ion-label class="tachado">
          <span [ngStyle]="{'font-weight': tarea.importante ? 'bold' : 'normal'}">
            {{tarea.descripcion}}
          </span>
        </ion-label>
        <ion-checkbox checked="true" slot="start" (click)='tareaSinRealizar(tarea)'>
        </ion-checkbox>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option (click)="modificarTarea(tarea)">
          <ion-icon name="document-text"></ion-icon>
          Modificar
        </ion-item-option>
        <ion-item-option color='danger' (click)="borrarTarea(tarea)">
          <ion-icon name="close-circle"></ion-icon>
          Eliminar
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)='nuevaTarea()'>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>